*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --principal: #cd0000;
    --secondary: #706868;
    --black: black;
    --white: #e6e6e6;

}

body{
    width: 100%;
    font-family: "Roboto","Helvetica Neue", "Arial";
}

/* HEADER */

header{
    width: 100%;
    height: auto;
}

.header-element{
    width: 100%;
    padding: .6em .2em;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.head-container, .main-container{
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head-container{
    height: 1vh;
}

.news{
    font-size: .8em;
    margin-bottom: 2em;
}

.islands{
    font-size: .7em;
}

.islands li{
    border-right: 1px solid var(--black);
    padding: 0 .5em;
    text-transform: uppercase;
}

.islands :last-of-type{
    border: none;
}

.news-header p span{
    color: var(--principal);
    text-transform: uppercase;
    font-weight: 500;
}

.news-header{
    font-size: .8em;
}

.main{
    background-color: var(--principal);
    min-height: 8vh;
}

.head, .navegator{
    background-color: #e6e6e6;
}

.navegator{
    height: 4vh;
    margin-top: .3em;
    border-bottom: 1px solid #706868;
    text-transform: uppercase;
    font-weight: bold;
    font-size: .9em;
}

.navegador-element ul li{
    vertical-align: super;
}

.islands ul li{
    display: inline;
}

.main-element.title{
    margin-left: 8%;
}

.title svg{
    margin-top: 1em;
    width: 20em;
    fill: #fff;
}

a svg{
    width: 1.5em;
}

nav{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li{
    display: inline;
    margin: 0 1em;
    vertical-align: sub;
}

.navegator-element ul li a{
    font-size: .96rem;
    font-weight: 700;
    font-family: "Roboto";
}

a{
    cursor: pointer;
    color: #323232;
    text-decoration: none;
}

.menu-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
  }
  
  .menu-btn_burgir {
    width: 35px;
    height: 5px;
    background: #fff;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
  }
  
  .menu-btn_burgir::after,
  .menu-btn_burgir::before {
    content: "";
    position: absolute;
    width: 35px;
    height: 5px;
    background: #fff;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
  }
  
  .menu-btn_burgir::before {
    transform: translateY(-13px);
  }
  
  .menu-btn_burgir::after {
    transform: translateY(13px);
  }
  
  .menu-btn.open .menu-btn_burgir {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
  }
  
  .menu-btn.open .menu-btn_burgir::before {
    transform: rotate(45deg) translate(35px, -35px);
  }
  
  .menu-btn.open .menu-btn_burgir::after {
    transform: rotate(-45deg) translate(35px, 35px);
  }
  
.desplegable{
    position: absolute;
    top: 14%;
    left: 20%;
    width: 30%;
    height: auto;
    background-color: #242424;
    border-bottom: 2px solid var(--principal);
    opacity: 0;
}

.desplegable.open{
    opacity: 1;
}

.desplegable .buscador{
    width: 100%;
}

.buscador input{
    width: 100%;
    background-color: #333;
    padding: 1em;
    border: none;
}

.desplegable-element{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: .5em 1em;
    border-bottom: 1px solid gray;
    cursor: pointer;
}

.desplegable-item p{
    text-transform: uppercase;
    font-weight: 500;
}

.desplegable-item ::after{
    content: "+";
    position: absolute;
    right: 4%;
    color: var(--principal);
    font-size: 1.2em;
}

.rrss{
    padding: 1.2em;
    border: none;
}

.rrss :first-child{
    padding-right: 1em;
    font-size: .9em;
}

.rrss ul li, .contact ul li{
    display: inline;
}

.contact{
    margin-bottom: 2%;
    border: none;
}

.contact ul :first-child{
    border-right: 1px solid white;
    padding-right: .8em;
}

.contact ul :last-child{
    padding-left: .8em;
}

.login button{
    padding: .2em .5em;
    min-height: 3.5vh;
    border-radius: 5px;
    border: none;
    vertical-align: middle;
}

.registration{
    background-color: #ffc700;
    font-weight: 700;
    padding: .5em .5em;
}

button span{
    vertical-align: super;
}

button svg{
    margin-left: .2em;
    width: 1.8em;
}

/* PRINCIPAL CONTENT */

section{
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.container-publi-left, .container-publi-right{
    width: 20%;
    height: 100vh;
}

.container-publi-left img, .container-publi-left img{
    width: 100%;
    height: 100vh;
}

.container-col-central{
    width: 60%;
}

.col-element .publi{
    width: 80%;
    min-height: 25vh;
}

.publi img{
    width: 80%;
    display: block ;
    margin: 0 auto;
}

.col-element .title h1{
    font-size: 2.48rem;
    font-weight: 900;
    line-height: 1.1em;
}

.title h1:hover{
    color: var(--principal);
}

.subtitle p{
    font-size: 1.1em;
    text-transform: uppercase;
    margin: .5em 0;
    color: var(--principal);
    color: var(--principal);
}

.title{
    cursor: pointer;
    margin-bottom: 1em;
}

.body{
    line-height: 1.5;
    font-size: 1.1em;
}

.author{
    margin-top: .5em;
}

.col-element.noticias{
    width: 100%;
    display: flex;
    flex-flow: row;
}

.col-2{
    display: flex;
    flex-flow: row;
    margin-top: 1em;
    gap: 1em;
}

.noticia{
    display: flex;
    flex: row;
    gap: 1.8em;
}

.noticia-element{
    max-width: 22%;
}

.noticia-element img{
    width: 100%;
}

.title-new  h1{
    font-size: 1em;
}

.col-element .pub{
    height: 40vh;
}

.col-principal{
    width: 70%;
    margin-left: 1em;
}

.container-publi-right{
    padding: 1em 0 0 1em;  
}

.container-publi-left{
    padding: 1em 1em 0 0;
}

.publi{
    margin-top: .5em;
}

.two-news{
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: center;
    padding-top: 2em;
    gap: 2em;
}

.new-element-left, .new-element-right{
    width: 49%;
}

.element-left-image img{
    width: 100%;
    height: auto;
    margin-bottom: -4px;
}

.element-right-image img{
    height: 22.5vh;   
}

.element-left-subtitle, .element-left-title, .element-left-author{
    width: 100%;
    background-color: var(--principal);
    padding: .2em;
    color: #fff;
}
