.header-menu{
    background-color: $color-primary;
    display: flex;
    height: 6vh;
    justify-content: space-around;
    padding: 3vh 5%;
    width: 90%;
}

.header-menu__logo{
    margin: auto 0;
    svg{

        height: 3rem;

        path{
            fill: #ffffff;
        }
    }    
}

.header-menu__access{

    display: flex;
    gap: 0.5rem;

    .header-menu__access-element{

        margin: auto 0;

        .login{

            background-color: $grey;
            border: 0.3rem solid $color-primary;
            border-radius: 0.5rem;
            cursor: pointer;
            padding: 0.2rem 0.8rem;

            span{
                display: inline;
                font-size: 0.9rem;
                vertical-align: super;
            }

            svg {
                height: 1.5rem;
            }
        }

        .register{

            background-color: $color-secondary;
            border: none;
            border-radius: 0.5rem;
            cursor: pointer;
            padding: 0.6rem 0.8rem;

            span{
                font-size: 1rem;
                font-weight: 600;
            }
        }
    }
}
