.menu{
    background-color: $grey;
    display: flex;
    height: 2vh;
    justify-content: space-between;
    padding: 1vh 5%;
    width: 90%;

    .menu__element svg{
        height: 1.2rem;
    }
    
    .menu__element h3{

        font-size: 1.2rem;
    }    
}

