.news{
    width: 60%;
}

.new.full .new__subtitle{
    margin: 0.5rem 0;
}

.new.full .new__subtitle h3{
    color: $color-primary;
    font-size: 1rem;
    text-transform: uppercase;
}

.new.full .title{
    margin: 0.5rem 0;
}

.new.full .new__title h2{
    font-size: 2.5rem;
    font-weight: 800;
}

.new.full .new__description{
    margin: 0.5rem 0;
}

.new.full .new__author{
    margin: 0.5rem 0;
}

.new.full .new__author p{
    color: $grey-darkest;
}

.new.full .new__relateds{
    display: flex;
    justify-content: space-between;
    margin: 2rem 0;
}

.new.full .new__relateds .new__related{
    width: 30%;
}

.new.full .new__relateds .new__related-title{
    margin: 0.5rem 0;
}

.new.full .new__relateds .new__related-title h4 a{
    text-decoration: none;
}

.new.regular{
    width: 48%;
}

.new.regular.featured{
    background-color: $black-brightest;
    color: $white;
}

.new.regular .new__image{
    max-height: 20vh;
    overflow: hidden;
}

.new.regular .new__subtitle,
.new.regular .new__title,
.new.regular .new__author{
    padding: 0.5rem;
}

.new.regular.featured .new__subtitle h3,
.new.regular.featured .new__title h2,
.new.regular.featured .new__author p{
    color: $white;
}

.new.regular .new__title h2{

    font-family: $font-stack;
    font-size: 1rem;
}


.new.regular .new__subtitle h3{
    color: $color-primary;
    font-size: 0.9rem;
    text-transform: uppercase;
}

.new.simple{
    width: 30%;
}

.new.simple.branded{
    background-color:hsl(199, 100%, 94%);
}

.new.simple .new__subtitle,
.new.simple .new__title,
.new.simple .new__author{
    padding: 0.2rem;
}

.new.simple .new__title h2{
    font-size: 1.2rem;
}

.new.simple .new__subtitle h3{
    color: $color-primary;
    font-size: 0.9rem;
    text-transform: uppercase;
}
